<div class="container mt-5">
    <h1>Sign Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" formControlName="id" class="form-control" id="id" />
        <div *ngIf="signupForm.get('id')?.touched && signupForm.get('id')?.invalid" class="text-danger">
          ID is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control" id="password" />
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="text-danger">
          Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>
    </form>
    <div class="mt-2">
      <a routerLink="/login">Already have an account? Log in</a>
    </div>
  </div>
  