
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Profile</h1>
    </div>
    <div class="card-body">
      <div *ngIf="!editMode" class="mt-4">
        <p><strong>ID:</strong> {{ admin.id }}</p>
        <p><strong>Password:</strong> {{ admin.password }}</p>
        <button class="btn btn-primary" (click)="toggleEditMode()">Edit</button>
      </div>

      <div *ngIf="editMode" class="mt-4">
        <form>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="admin.password"
              name="password"
            />
          </div>
          <button type="button" class="btn btn-primary" (click)="onSave(admin.password)">Save</button>
          <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
